<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=x-ua-compatible content="ie=edge">
  <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Don't Go to the Grocery Store Without a List">
  <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">
  <!-- <meta prefix="og: http://ogp.me/ns#" property="og:image" content="http://greg-wolff.com/images/og/home.png"> -->
  <!-- <meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://greg-wolff.com/"> -->

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
</body>

</html>
