<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=x-ua-compatible content="ie=edge">
  <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta prefix="og: http://ogp.me/ns#" property="og:title" content="Don't Go to the Grocery Store Without a List">
  <meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">
  <!-- <meta prefix="og: http://ogp.me/ns#" property="og:image" content="http://greg-wolff.com/images/og/home.png"> -->
  <!-- <meta prefix="og: http://ogp.me/ns#" property="og:url" content="http://greg-wolff.com/"> -->

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <footer>
    "organisms" by greg wolff<br><br>each series of switches is randomly generated upon the browser canvas and set to change their behavior between 10 and 20 seconds.<br><br>behavior states include (in order of likeliness):<br>'sleepy' — switching randomly every 10 to 20 seconds<br>'active' — switching randomly every 5 to 10 seconds<br>'agitated' — switching back and forth repeatedly<br><br><a href="https://github.com/greg-wolff/organisms" target="_blank">(source)</a>
  </footer>
</body>

</html>
